#app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';

  app-header {
    grid-area: header;
  }

  app-nav {
    grid-area: nav;
  }

  #main-container {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  app-footer {
    grid-area: footer;
  }
}
