#login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  margin: $component-spacing;
  box-sizing: content-box;
}

mat-card-title {
  padding: 0 0 10px 10px;
}

mat-card-content {
  padding: 0 10px;
}

mat-form-field {
  width: 100%;
}

/* Manually shift error message to the right to align with text inside input box */
mat-error {
  font-size: $h5;
  margin-left: 10px;
}
