/*
 * Base button styling
 */
button {
  cursor: pointer;
}

/*
 * Chordbomb 'primary'-styled buttons
 */
button.primary {
  border-radius: $border-radius-button;

  box-sizing: content-box;
  border: 2px solid darken($color: $cb-white, $amount: 10%);
  color: $cb-white;
  background-color: $cb-primary;

  &:hover {
    border: 2px solid darken($color: $cb-white, $amount: 5%);
    color: #fff;
    background-color: lighten($color: $cb-primary, $amount: 7%);
    box-shadow: 0 0 2px 1px darken($color: $cb-white, $amount: 8%);
  }

  &#create-new-song, &#submit {
    font-size: $font-m;
    height: 2em;
    border-radius: $border-radius-button;
    padding: 0 0.8em;
    fa-icon {
      margin-left: -0.2em; // icon appears as if it adds extra padding, so compensate
      margin-right: 0.3em;
    }
  }

  &#insert-node, &#remove-node {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  /* Force plus and minus buttons to the right end of row; space them out slighly */
  &#insert-node {
    margin-right: 0.1em;
    margin-left: auto;
  }

  &:disabled, &[disabled] {
    cursor: default;
    color: $cb-gray;
    background-color: lighten($color: $cb-gray, $amount: 20%);
  }
}


/*
 * Admin login button
 */
button.login {
  font-weight: bold;
  /* Align right side of button with edge of form fields */
  width: 80px;
  margin-left: calc(100% - 80px);

  &:hover {
    background: lighten($color: $cb-white, $amount: 5%);
  }
}


/*
 * Navigation bar burger menu button
 */
button.menu {
  display: block;
  border: none;
  background: none;
  /* Keep button stationary in top of navbar when dropdown is opened */
  margin-bottom: auto;

  /*
   * Button animation when dropdown closes: transition X icon back to three-line 'burger'
   */
  .burger-line {
    display: block;
    background-color: $cb-white;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  /* Don't display burger menu button on medium viewports of larger */
  @include respond-to('medium') {
    display: none;
  }
}

/*
 * Button animation when dropdown opens: transition icon from three lines to an X
 */
nav#app-nav.open button .burger-line {
  &:nth-child(1) {
    transform: translateY(8px) rotate(225deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(3) {
    transform: translateY(-7px) rotate(-225deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
