@import '../shared/variables';

section#song-manager {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

app-song-edit {
  flex-basis: 60%;
}

app-song-list {
  flex-basis: 40%;
}
