@import '../shared/variables';

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  border-bottom: 2px solid lighten($color: $cb-black, $amount: 10%);
  background: $cb-primary;

  svg#chordbomb-logo {
    width: 300px;
    stroke: $cb-gray;
    fill: $cb-white;
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
}
