@import '../shared/variables';

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  border-bottom: 1px solid lighten($color: $cb-black, $amount: 10%);
  background-color: $cb-primary;
  background: radial-gradient(
    at top left,
    darken($color: $cb-primary, $amount: 5%),
    lighten($color: $cb-primary, $amount: 8%)
  );

  svg#chordbomb-logo {
    width: 300px;
    stroke: $cb-gray;
    fill: $cb-white;
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
}
