@import '../shared/variables';

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  background: $cb-white;

  img#logo {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
}
