@import '../../shared/variables';

section#song-edit {
  margin: 1em;
}

h2 {
  color: $cb-black;
  padding-bottom: 0.3em;
}

aside#latest-edition-note {
  display: inline-block;
  border: 1px solid darken($color: $cb-gray, $amount: 20%);
  padding: 0.1em 0.5em;
  margin-left: 0.5em;
}

button {
  font-size: 1.3em;
  margin: 0.1em;
  color: $cb-white;
  background-color: $cb-primary;
  border: 2px solid $cb-gray;
  border-radius: 0.2em;

  &#create-new-song fa-icon {
    margin-right: 0.3em;
  }

  &:disabled,
  &[disabled] {
    color: $cb-gray;
    background-color: lighten($color: $cb-gray, $amount: 20%);
    cursor: default;
  }
}

fieldset {
  background: #99a0af;
  padding: 0.1em;
  border: 1px solid lighten($color: $cb-black, $amount: 40%);
  margin: 2em 0;
}

legend {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0.5em 0.5em;
  padding: 0.1em 0.35em;
  text-align: center;
  background: $cb-accent;
  background: linear-gradient(
    270deg,
    lighten($color: $cb-accent, $amount: 25%) 0%,
    $cb-white 30%,
    $cb-white 70%,
    lighten($color: $cb-accent, $amount: 25%) 100%
  );
  border: 1px solid $cb-black;
  box-shadow: 0 0 3px 1px $cb-gray;
  width: inherit;
}


div.form-row {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.form-field,
label#node-label {
  margin: 0 0.4em;
}

input {
  display: block;
  border-radius: 0.3em;
  font-size: 1.2em;
  text-indent: 0.2em;

  &.xlarge {
    width: 37em;
  }
  &.large {
    width: 18em;
  }
  &.medium {
    width: 7em;
  }
  &.small {
    width: 3em;
  }

  &:focus {
    outline: none;
    border: 2px solid $cb-select;
    box-shadow: 0 0 3px 2px $cb-gray;
  }
}

label#node-label {
  width: 5em;  // fixed width to keep form fields aligned if node number > 1 digit
  font-weight: bold;
}

// Push plus and minus buttons to the right end of row
button#insert-node {
  margin-left: auto;
}
