@import "../../shared/variables";

section#song-edit {
  margin: 1em;
}

h2 {
  color: $cb-black;
  padding-bottom: 0.3em;
}

button {
  height: 30px;
  font-size: 1.3em;
  color: $cb-white;
  background-color: $cb-primary;
  border-radius: 0.4em;

  fa-icon {
    margin-right: 0.3em;
  }
}

fieldset {
  background: #7084b1;
  padding: 5px;
  border: 2px solid lighten($color: $cb-black, $amount: 10%);
  margin: 2em 0;
  box-shadow: 0 0 3px 2px lighten($color: $cb-gray, $amount: 15%);
}

legend {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0.5em 0.5em;
  padding: 0.1em 0.35em;
  text-align: center;
  background: $cb-accent;
  background: linear-gradient(
    270deg,
    lighten($color: $cb-accent, $amount: 25%) 0%,
    $cb-white 30%,
    $cb-white 70%,
    lighten($color: $cb-accent, $amount: 25%) 100%
  );
  border: 1px solid $cb-black;
  box-shadow: 0 0 3px 1px $cb-gray;
  width: inherit;
}

div.form-field {
  margin-left: 0.5em;
}

input {
  border-radius: 0.3em;
  font-size: 1.2em;
  text-indent: 0.2em;
}

input.xlarge {
  width: 95%;
}

input.large {
  width: 20em;
}

input.medium {
  width: 6em;
}

input.small {
  width: 3em;
}

input:focus {
  outline: none;
  border: 2px solid $cb-select;
  box-shadow: 0 0 3px 2px $cb-gray;
}

label {
  display: block;
  margin: 0.1em 0 1.2em 0.2em;
  color: $cb-black;
  font-size: 0.9em;
}


