@import '../../shared/styles/variables';

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.8em;
  font-size: $font-s;
  color: $cb-white;
  background: $cb-black;
}

small {
  line-height: 1.4em;
}

.lighter {
  font-weight: lighter;
}

.bigger {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

address#github-repo {
  margin-top: 1em;

  a#about-chordbomb {
    font-size: $font-m;
    color: $cb-white;

    fa-icon#github-icon {
      margin-left: 0.2em;
      padding: 0 2px;
      border-radius: 50%;
    }
  }

  &:hover {
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 0 1px $cb-white;

    fa-icon {
      box-shadow: 0 0 3px 1px $cb-white;
    }
  }
}
