<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <div id="inner-sidenav-container">
      <header id="settings-header">
          <fa-icon [icon]="faCog" class="fa-2x"></fa-icon>
          <h3>Settings</h3>
      </header>
      <hr>

      <div id="settings-container">
        <mat-radio-group class="setting" aria-labelledby="font-size" [(ngModel)]="fontSize">
          <label class="setting-label" id="font-size">Font Size:</label>
          <mat-radio-button class="option" *ngFor="let size of fontSizes" [value]="size">
            {{ size }}
          </mat-radio-button>
        </mat-radio-group>

        <mat-radio-group class="setting" aria-labelledby="chord-type" [(ngModel)]="chordType">
          <label class="setting-label" id="chord-type">Chord Type:</label>
          <mat-radio-button class="option" *ngFor="let type of chordTypes" [value]="type">
            {{ type }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="primary" id="settings-btn" (click)="sidenav.toggle()">
      <fa-icon [icon]="faCog" class="fa-2x"></fa-icon>
      <h3>Settings</h3>
    </button>
    <main id="main-content">
      <app-song-search></app-song-search>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
