@import 'abstracts/variables';
@import 'abstracts/mixins';

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-bottom: 1px solid lighten($color: $cb-black, $amount: 10%);
  background-color: $cb-primary;
  background: radial-gradient(
    at top,
    lighten($color: $cb-primary, $amount: 8%),
    darken($color: $cb-primary, $amount: 18%)
  );

  /* Push logo to left side of header on larger viewports */
  @include respond-to('medium') {
    justify-content: flex-start;
  }
}

svg#chordbomb-logo {
  width: 300px;
  stroke: $cb-gray;
  fill: $cb-white;
}
