<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <section class="content-container">
      <h2>
        Settings
        <button class="settings-button" mat-button (click)="sidenav.toggle()">
          <fa-icon [icon]="faCog" class="fa-3x"></fa-icon>
        </button>
      </h2>

      <label id="font-size">Font Size:</label>
      <mat-radio-group class="setting" aria-labelledby="font-size" [(ngModel)]="fontSize">
        <mat-radio-button class="option" *ngFor="let size of fontSizeOptions" [value]="size">
          {{ size }}
        </mat-radio-button>
      </mat-radio-group>

      <label id="chord-type">Chord Type:</label>
      <mat-radio-group class="setting" aria-labelledby="chord-type" [(ngModel)]="chordType">
        <mat-radio-button class="option" *ngFor="let type of chordTypeOptions" [value]="type">
          {{ type }}
        </mat-radio-button>
      </mat-radio-group>
    </section>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="settings-button" mat-button (click)="sidenav.toggle()">
      <fa-icon [icon]="faCog" class="fa-3x"></fa-icon>
    </button>
    <div>
      (song search component goes here)<br>
      Font Size selected: {{ fontSize }}<br>
      Chord Type selected: {{ chordType }}
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
