<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <div id="inner-sidenav-container">
      <header id="settings-header">
        <button class="settings-button" mat-button (click)="sidenav.toggle()">
          <fa-icon [icon]="faCog" class="fa-2x"></fa-icon>
        </button>
        <h3>Settings</h3>
      </header>

      <div id="settings-container">
        <mat-radio-group class="setting" aria-labelledby="font-size" [(ngModel)]="fontSize">
          <label class="setting-label" id="font-size">Font Size:</label>
          <mat-radio-button class="option" *ngFor="let size of fontSizes" [value]="size">
            {{ size }}
          </mat-radio-button>
        </mat-radio-group>

        <mat-radio-group class="setting" aria-labelledby="chord-type" [(ngModel)]="chordType">
          <label class="setting-label" id="chord-type">Chord Type:</label>
          <mat-radio-button class="option" *ngFor="let type of chordTypes" [value]="type">
            {{ type }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="settings-button" mat-button (click)="sidenav.toggle()">
      <fa-icon [icon]="faCog" class="fa-2x"></fa-icon>
    </button>
    <main id="main-content">
      <form autocomplete="off" action="/action_page.php">
        <div class="autocomplete">
          <input id="myInput" type="text" name="song" placeholder="Search song">
        </div>
      </form>
      <span id="temp">
        This component is currently in development...<br>
        but hey, check out the nifty sidebar instead!<br><br>
        Font size selected: <em>{{ fontSize }}</em><br>
        Chord type selected: <em>{{ chordType }}</em>
      </span>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
