@import 'abstracts/variables';

section#song-manager {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-song-list {
  flex-basis: 600px; // width allocated to song list component (rough estimate for now)
}
