<section id="login-container">
  <mat-card class="main">
    <mat-card-title>Admin Login</mat-card-title>
    <mat-card-content>
      <mat-card class="aside">
        <mat-card-subtitle>Login credentials during development:</mat-card-subtitle>
        <p>Email - <b>admin@admin.com</b></p>
        <p>Password - <b>123456</b></p>
      </mat-card>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" name="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
      </form>
      <mat-error *ngIf="error">{{ error }}</mat-error>
      <button [disabled]="!loginForm.valid" (click)="onLogin()" mat-raised-button>
        Log in
      </button>
    </mat-card-content>
  </mat-card>
</section>
