@import '~@angular/material/theming';
@import './_chordbomb_theme_variables.scss';

@include mat-core();

$cb-theme: mat-light-theme(
  (
    color: (
      primary: $cb-primary-palette,
      accent: $cb-accent-palette
    )
  )
);

@include angular-material-theme($cb-theme);
