<div id="song-display-container">
  <button id="new-song-btn" class="primary large" (click)="onNextSong()">
    Next Song
  </button>
  <div id="song-container">
    <mat-card id="song-content" *ngIf="song!==null && song.nodes">
      <mat-card-title id="artist-and-title">
        {{ song.artists }} - {{ song.title }}
      </mat-card-title>
      <mat-card-subtitle>
        <div class="left-col">
          <img src="{{ song.albumCoverLink }}" alt="{{ song.album }}" title="{{ song.album }}" id="album-cover">
        </div>
        <div class="right-col">
          Featured on: {{ song.album }} ({{ song.albumYear }})<br>
          Songwriters: {{ song.songwriters }}<br>
          Producers: {{ song.producers }}<br>
          Publishers: {{ song.publishers }}<br>
          Key: {{ song.primaryKey }}<br>
          Time Signature: {{ song.primaryTimeSig }}<br>
          Tempo: {{ song.nodes[0].bpm }}<br>
          Bars: {{ lastMarker.slice(0, lastMarker.indexOf('-')) }}<br>
        </div>
      </mat-card-subtitle>
      <mat-card-content id="lyrics-and-chords" [ngClass]="largeFont ? 'enlarge' : ''">
        <div class="node" *ngFor="let node of song.nodes; let i=index;">
          <ng-container *ngIf="node.label!==''"><hr class="new-line"></ng-container>
          <span *ngIf="node.label">{{ node.label | transformLabel }}</span>
          <span *ngIf="node.chord">{{ node.chord | transformChord:chordType }}</span>
          <span *ngIf="node.lyric">{{ node.lyric | transformLyric }}</span>
          &nbsp;&nbsp;
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <button id="new-song-btn" class="primary large" (click)="onNextSong()">
    Next Song
  </button>
</div>