<div id="song-display-container">
  <button id="new-song-btn" class="primary large" (click)="onNextSong()">
    Next Song
  </button>
  <div id="song-container">
    <mat-card id="song-content" *ngIf="song!==null && song.nodes">
      <mat-card-title id="artist-and-title">
        {{ song.artists }} - {{ song.title }}
      </mat-card-title>
      <mat-card-subtitle>
        <div class="left-col">
          <img src="{{ song.albumCoverLink }}" alt="{{ song.album }}" title="{{ song.album }}" id="album-cover">
        </div>
        <div class="right-col">
          Featured on: {{ song.album }} ({{ song.albumYear }})<br>
          Songwriters: {{ song.songwriters }}<br>
          Producers: {{ song.producers }}<br>
          Publishers: {{ song.publishers }}<br>
          Key: {{ song.primaryKey }}<br>
          Time Signature: {{ song.primaryTimeSig }}<br>
          Tempo: {{ song.nodes[0].bpm }}<br>
          Bars: {{ song.nodes.slice(-1)[0].timeMarker.slice(0, song.nodes.slice(-1)[0].timeMarker.indexOf('-')) }}<br>
        </div>
      </mat-card-subtitle>
      <mat-card-content id="lyrics-and-chords" [ngClass]="largeFont ? 'enlarge' : ''">
        <div class="node" *ngFor="let node of song.nodes; let i=index;">

          <span *ngIf="node.label==='n'" style="color: blue">[n]</span>
          <span *ngIf="node.chord!==''" style="color: red;">{{ node.chord | transformChord:chordType }}</span>
          <span *ngIf="i!=0 && song.nodes[i-1].lyric.slice(-1)[0]!=='-'">
            &nbsp;
          </span>
          <span class="lyric with-hyphen" *ngIf="node.lyric.slice(-1)[0]==='-'; else noDash">
            {{ node.lyric.slice(0, -1) }}
          </span>
          <ng-template #noDash>
            <span class="lyric post-hyphen" *ngIf="i!=0 && song.nodes[i-1].lyric.slice(-1)[0]==='-'; else notAfterDash">
              {{ node.lyric }}
            </span>
            <ng-template #notAfterDash>
              <span class="lyric default">
                {{ node.lyric }}
              </span>
            </ng-template>
          </ng-template>

        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <button id="new-song-btn" class="primary large" (click)="onNextSong()">
    Next Song
  </button>
</div>