<section id="song-list" *ngIf="songList">
  <div id="song-list-container">
    <h2>Songs in Database</h2>
    <table id="songs">
      <thead>
        <th>Song</th>
        <th>Nodes</th>
        <th>Last Edited</th>
        <th>Database ID</th>
      </thead>
      <tbody>
        <tr *ngFor="let song of songList" (click)=onSelect(song)>
          <td>{{ song.artists }} - {{ song.title }}</td>
          <td class="align-right">{{ song.nodes.length }}</td>
          <td>
            {{ song.editions.slice(-1)[0].timestamp }} by
            {{ song.editions.slice(-1)[0].author }}
          </td>
          <td>{{ song.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
