@import '../../../shared/styles/variables';

section#song-list {
  padding: 1em;
}

h2 {
  text-align: center;
  padding-bottom: 0.5em;
}

table#songs {
  border-spacing: 0;
  width: 100%;

  th {
    font-size: $font-m;
    padding: 0.4em 0.2em;
    border: 1px solid $cb-gray;
    text-align: center;
    background-color: $cb-accent;
    color: $cb-black;

    &:first-child {
      border-top-left-radius: 0.6em;
    }

    &:last-child {
      border-top-right-radius: 0.6em;
    }
  }

  tr {
    font-size: $font-s;
    background-color: $cb-white;

    &:nth-child(even) {
      background-color: lighten($color: $cb-white, $amount: 10%);
    }

    &:hover {
      background-color: lighten($color: $cb-select, $amount: 10%);
      cursor: pointer;
    }
  }

  td {
    padding: 0.2em 0.3em;
    border: 1px solid $cb-gray;

    &.align-right {
      text-align: right;
    }
  }
}
