@import '../../shared/variables';

section#song-list {
  padding: 1em;
}

h2 {
  text-align: center;
  padding-bottom: 0.5em;
}

table#songs {
  border-spacing: 0;
  width: 100%;

  th {
    padding: 0.4em 0.2em;
    border: 1px solid $cb-gray;
    text-align: center;
    background-color: $cb-accent;
    color: $cb-black;

    &:first-child {
      border-top-left-radius: 0.6em;
    }

    &:last-child {
      border-top-right-radius: 0.6em;
    }
  }

  tr {
    background-color: $cb-white;
    &:nth-child(even) {
      background-color: lighten($color: $cb-white, $amount: 10%);
    }
    &:hover {
      background-color: $cb-select;
      cursor: pointer;
    }
  }

  td {
    padding: 0.2em 0.5em;
    border: 1px solid $cb-gray;
  }
}
