<header id="app-header">
  <a href="https://chordbomb.com" id="home">
    <img id="logo" src="../assets/chordbomb.svg" alt="Chordbomb Logo">
  </a>
</header>

<app-nav></app-nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <small id="project-info">
    &copy; 2021 Copyright: Michal Wiraszka<br>
    Version 0.2.0 (currently in development). Project details:
  </small>
  <address>
    <a href="https://github.com/mwiraszka/Chordbomb#readme" id="chordbomb-readme">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
  </address>
</footer>
