@import '../styles/chordbomb_theme.scss';

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
	width: 100%;
  height: 50px;
  background: $cb-white;

  img#logo {
    margin-left: 30px;
    width: 210px;
  }
}

// Push footer down (main height = 100% viewport height - header - navbar - footer)
main {
  min-height: calc(100vh - 50px - 45px - 80px);
}

footer {
  padding: 0.8em;
  background: $cb-black;
  color: $cb-white;
  text-align: center;
  font-size: 0.8em;
  height: 80px;

  address {
    display: inline;

    a#chordbomb-readme {
      margin-left: 0.2em;
      line-height: 2em;
      padding: 0.1em 0.2em;
      background: $cb-black;
      color: $cb-white;
      border: 1px solid $cb-accent;
      border-radius: 50%;

      &:hover {
        text-shadow: 0 0 1px $cb-white;
        border: 1px solid $cb-white;
        box-shadow: 0 0 4px 1px $cb-white;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;

    img#logo {
      margin-left: 0;
    }
  }
}