@import 'abstracts/variables';

.ais-SearchBox-input { margin-bottom: 5em }
.left-panel { display: block; float: left; width: 250px }
.right-panel { margin-left: 260px }
.ais-InstantSearch { max-width: 960px; overflow: hidden; margin: 0 auto }
.ais-Hits-item { margin-bottom: 1em; width: 100% }
.ais-Hits-item img { margin-right: 1em }

img {
  width: 100px;
  height: 100px;
}

label {
  font-weight: bold;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

@media only screen and (max-width: $nav-breakpoint) {
  .left-panel {
    display: none;
  }
}