<section id="login-container">
  <mat-card id="admin-login">
    <mat-card-title>Admin Login</mat-card-title>
    <mat-card-content>
      <mat-card id="login-credentials">
        <mat-card-subtitle>Login credentials during development:</mat-card-subtitle>
        <p>
          Email - <b>admin@admin.com</b><br>
          Password - <b>123456</b>
        </p>
      </mat-card>
      <form id="loginForm" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" name="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
      </form>
      <mat-error *ngIf="error">{{ error }}</mat-error>
      <button mat-raised-button id="login-btn" [disabled]="!loginForm.valid"
        (click)="onLogin()"
      >
        Log in
      </button>
    </mat-card-content>
  </mat-card>
</section>
