@import 'abstracts/variables';

section#login-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

mat-card#admin-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 320px; // when first line ('login credentials') breaks
  max-width: 500px;
  width: calc(100% - 2em); // leave a minimum of 2em of margin (total) on sides of screen
}

mat-card-title, mat-card-content {
  width: 85%;
}

mat-card-subtitle {
  font-size: $font-l;
}

mat-card#login-credentials {
  text-align: center;
  box-sizing: border-box;
  margin: 10px 0 30px 0;
  font-size: ($font-l - 2px);

  /* Centre text based on length of its longest line (the email line, in this case) */
  p {
    display: table;
    text-align: left;
    margin: 0 auto;
  }
}

mat-form-field {
  margin-bottom: -10px;
  width: 100%;

  /* Replace default black outline on hover and when active with a subtler gray */
  &:hover, &.mat-focused {
    ::ng-deep.mat-form-field-outline {
      color: lighten($color: $cb-gray, $amount: 5%);
    }
  }

  input {
    font-size: $font-l;
    text-indent: 0.5em;
  }
}

mat-error {
  font-size: $font-s;
  margin-bottom: 10px;
  margin-left: 10px; // Manually align with field labels above
}

mat-label {
  font-size: $font-l;
}
