<section id="song-edit">
  <header id="song-edit-header">
    <h2>Edit Song</h2>
    <button id="create-new-song-btn" class="primary" (click)="onCreateNewSong()">
      <fa-icon [icon]="faPlus"></fa-icon>Create New Song
    </button>
  </header>

  <form id="songForm" [formGroup]="songForm" (ngSubmit)="onSubmit()">

    <fieldset id="edition-details">
      <legend>Edition Details</legend>

      <div id="latest-ed-container" *ngIf="isEditMode()">
        <div id="latest-ed-details">
          <h4>Last edited by {{ latestEd.author }} on {{ latestEd.timestamp }}</h4>
          <p id="latest-ed-note">{{ latestEd.note }}</p>
        </div>
      </div>

      <div class="form-row with-textarea" formGroupName="newEdition">
        <div class="form-field quarter-width">
          <label class="field-name" for="author">Author</label>
          <input type="text" name="author" formControlName="author" maxlength="6" />
          <div class="error-message-area">
            <div *ngIf="ed.author.touched && ed.author.invalid">
              <small *ngIf="ed.author.errors?.required">Author is required</small>
              <small *ngIf="ed.author.errors?.pattern">Invalid author</small>
            </div>
          </div>
        </div>
        <div class="form-field three-quarters-width">
          <label class="field-name" for="note">Note</label>
          <textarea name="note" formControlName="note" maxlength="200"></textarea>
          <div class="error-message-area">
            <div *ngIf="ed.note.touched && ed.note.invalid">
              <small>Note is required</small>
            </div>
          </div>
        </div>
      </div>

    </fieldset>


    <fieldset id="general-details">
      <legend>General Song Details</legend>

      <div class="form-row">
        <div class="form-field half-width">
          <label class="field-name" for="artists">Artist(s)</label>
          <input type="text" name="artists" formControlName="artists" maxlength="100" />
          <div class="error-message-area">
            <div *ngIf="f.artists.touched && f.artists.invalid">
              <span class="full-text">
                <small>At least one artist is required</small>
              </span>
              <span class="short-text">
                <small>Artist is required</small>
              </span>
            </div>
          </div>
        </div>
        <div class="form-field half-width">
          <label class="field-name" for="title">Title</label>
          <input type="text" name="title" formControlName="title" maxlength="100" />
          <div class="error-message-area">
            <div *ngIf="f.title.touched && f.title.invalid">
              <small>Song title is required</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-field three-quarters-width">
          <label class="field-name" for="album">Album</label>
          <input type="text" name="album" formControlName="album" maxlength="100" />
          <div class="error-message-area">
            <div *ngIf="f.album.touched && f.album.invalid">
              <small>Album is required</small>
            </div>
          </div>
        </div>
        <div class="form-field quarter-width">
          <label class="field-name" for="albumYear">
            <span class="full-text">Album Year</span>
            <span class="short-text">Year</span>
          </label>
          <input type="text" name="albumYear" formControlName="albumYear" maxlength="4" />
          <div class="error-message-area">
            <div *ngIf="f.albumYear.touched && f.albumYear.invalid">
              <small>Invalid year</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row form-field full-width">
        <label class="field-name" for="albumCoverLink">Link to Album Cover Image</label>
        <input type="text" name="albumCoverLink" formControlName="albumCoverLink"
          maxlength="200" />
      </div>

      <div class="form-row form-field full-width">
        <label class="field-name" for="songwriters">Songwriter(s)</label>
        <input type="text" name="songwriters" formControlName="songwriters"
          maxlength="200" />
      </div>

      <div class="form-row form-field full-width">
        <label class="field-name" for="producers">Producer(s)</label>
        <input type="text" name="producers" formControlName="producers"
          maxlength="200" />
      </div>

      <div class="form-row form-field full-width">
        <label class="field-name" for="publishers">Publisher(s)</label>
        <input type="text" name="publishers" formControlName="publishers"
          maxlength="200" />
      </div>
    </fieldset>


    <fieldset id="musical-details">
      <legend>Musical Details</legend>

      <div class="form-row">
        <div class="form-field half-width">
          <label class="field-name" for="primaryKey">
            <span class="full-text">Primary Key</span>
            <span class="short-text">Key</span>
          </label>
          <input type="text" name="primaryKey" formControlName="primaryKey"
            maxlength="8" />
          <div class="error-message-area">
            <div *ngIf="f.primaryKey.touched && f.primaryKey.invalid">
              <small *ngIf="f.primaryKey.errors?.required">Key is required</small>
              <small *ngIf="f.primaryKey.errors?.pattern">Invalid key</small>
            </div>
          </div>
        </div>
        <div class="form-field quarter-width">
          <label class="field-name" for="primaryTimeSig">
            <span class="full-text">Primary Time Signature</span>
            <span class="short-text">Time Sig.</span>
          </label>
          <input type="text" name="primaryTimeSig" formControlName="primaryTimeSig"
            maxlength="5" />
          <div class="error-message-area">
            <div *ngIf="f.primaryTimeSig.touched && f.primaryTimeSig.invalid">
              <small *ngIf="f.primaryTimeSig.errors?.required">
                <span class="full-text">Time signature is required</span>
                <span class="short-text">Required</span>
              </small>
              <small *ngIf="f.primaryTimeSig.errors?.pattern">
                <span class="full-text">Invalid time signature</span>
                <span class="short-text">Invalid</span>
              </small>
            </div>
          </div>
        </div>
        <div class="form-field quarter-width">
          <label class="field-name" for="songDuration">
            <span class="full-text">Song Duration</span>
            <span class="short-text">Duration</span>
          </label>
          <input type="text" name="songDuration" formControlName="songDuration"
            maxlength="5" />
          <div class="error-message-area">
            <div *ngIf="f.songDuration.touched && f.songDuration.invalid">
              <small *ngIf="f.songDuration.errors?.required">
                <span class="full-text">Song duration is required</span>
                <span class="short-text">Required</span>
              </small>
              <small *ngIf="f.songDuration.errors?.pattern">
                <span class="full-text">Invalid song duration</span>
                <span class="short-text">Invalid</span>
              </small>
            </div>
          </div>
        </div>
      </div>

      <label class="node-number short-text">NODES:</label>

      <div formArrayName="nodes">
        <div class="form-row"[formGroupName]="i"
          *ngFor="let node of nodes.controls; let i=index;"
        >
          <label class="node-number full-text">NODE {{ i + 1 }}:</label>

          <div class="form-field node-field-width">
            <label class="field-name" for="timeMarker">
              <span class="full-text">Time Marker</span>
            <span class="short-text">T.M.</span>
          </label>
            <input type="text" name="timeMarker" formControlName="timeMarker"
              maxlength="8" [ngModel]="song.nodes[i].timeMarker" />
            <div class="error-message-area">
              <div *ngIf="timeMarker(i).touched && timeMarker(i).invalid">
                <small *ngIf="timeMarker(i).errors?.required">Required</small>
                <small *ngIf="timeMarker(i).errors?.pattern">Invalid</small>
              </div>
            </div>
          </div>

          <div class="form-field node-field-width">
            <label class="field-name" for="bpm">BPM</label>
            <input type="text" name="bpm" formControlName="bpm"
              maxlength="3" [ngModel]="song.nodes[i].bpm" />
            <div class="error-message-area">
              <div *ngIf="bpm(i).touched && bpm(i).invalid">
                <small>Invalid</small>
              </div>
            </div>
          </div>

          <div class="form-field node-field-width">
            <label class="field-name" for="chord">Chord</label>
            <input type="text" name="chord" formControlName="chord"
              maxlength="10" [ngModel]="song.nodes[i].chord" />
            <div class="error-message-area">
              <div *ngIf="chord(i).touched && chord(i).invalid">
                <small>Invalid</small>
              </div>
            </div>
          </div>

          <div class="form-field node-field-width">
            <label class="field-name" for="lyric">Lyric</label>
            <input type="text" name="lyric" formControlName="lyric"
              maxlength="12" [ngModel]="song.nodes[i].lyric" />
            <div class="error-message-area">
              <!-- placeholder for now to level out layout -->
            </div>
          </div>

          <div class="form-field node-field-width">
            <label class="field-name" for="label">Label</label>
            <input type="text" name="label" formControlName="label"
              maxlength="10" [ngModel]="song.nodes[i].label" />
            <div class="error-message-area">
              <div *ngIf="label(i).touched && label(i).invalid">
                <small>Invalid</small>
              </div>
            </div>
          </div>

          <button type="button" id="insert-node-btn" class="primary"
            (click)="insertNode(i)"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>

          <button type="button" id="remove-node-btn" class="primary"
            (click)="removeNode(i)"
          >
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>

        </div>
      </div>
    </fieldset>

    <div id="submit-song-container">
      <button type="submit" id="submit-btn" class="primary" [disabled]="!songForm.valid">
        <span *ngIf="isEditMode(); else addMode">Update Song</span>
        <ng-template #addMode>Add Song</ng-template>
      </button>
    </div>

  </form>
</section>
