/***  GLOBAL CHORDBOMB COLOR THEME  ***/

@import '~@angular/material/theming';
@include mat-core();

$primary: (
  Main:#522058,
  Light:#804b85,
  Dark: #28002f,
  contrast: (
    Main: #eee,
    Light: #000,
    Dark: #fff
  )
);

$accent: (
  Main: #f18d1a,
  Light: #ffc453,
  Dark: #be6500,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff
  )
);

$cb-primary-palette: mat-palette($primary, Main, Light, Dark);
$cb-accent-palette: mat-palette($accent, Main, Light, Dark);
$cb-warn-palette: mat-palette($mat-red, A200, A400, A700);

$cb-theme: mat-light-theme(
  (
    color: (
      primary: $cb-primary-palette,
      accent: $cb-accent-palette,
      warn: $cb-warn-palette
    )
  )
);

@include angular-material-theme($cb-theme);
