/**
 * GLOBAL CHORDBOMB VARIABLES FOR EACH COMPONENT
 */
@import '../../chordbomb_theme.scss';

$cb-primary: mat-color($chordbomb-primary, 400);
$cb-accent: mat-color($chordbomb-accent, 500);
$cb-success: #22a31e;
$cb-warning: #8a0303;
$cb-select: #6799db;
$cb-background: #a0b1b9;
$cb-white: #e3e3e3;
$cb-gray: #9e9e9e;
$cb-black: #0e0e0e;