/*** GLOBAL CHORDBOMB VARIABLES ***/

@import './chordbomb_theme.scss';

$cb-primary-main: mat-color($cb-primary-palette, Main);
$cb-primary-light: mat-color($cb-primary-palette, Light);
$cb-primary-dark: mat-color($cb-primary-palette, Dark);

$cb-accent-main: mat-color($cb-accent-palette, Main);
$cb-accent-light: mat-color($cb-accent-palette, Light);
$cb-accent-dark: mat-color($cb-accent-palette, Dark);

$cb-warn: mat-color($cb-warn-palette, Main);

$cb-success: #22a31e;
$cb-select: #6799db;
$cb-background: #a0b1b9;
$cb-white: #e3e3e3;
$cb-gray: #9e9e9e;
$cb-black: #0e0e0e;

$header-height: 90px;
$nav-height: 50px;
$footer-height: 60px;
$main-height: calc(100vh - #{$header-height} - #{$nav-height} - #{$footer-height});
