/***  GLOBAL CHORDBOMB COLOR THEME  ***/
@import '~@angular/material/theming';
@import './app/shared/variables';
@include mat-core();

$cb-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($cb-primary-palette, Main, Light, Dark),
      accent: mat-palette($cb-accent-palette, Main, Light, Dark)
    )
  )
);

@include angular-material-theme($cb-theme);


/*** GLOBAL CHORDBOMB ELEMENT STYLE DEFAULTS ***/
* {
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

p {
  margin: 0;
}

small {
  font-size: inherit;
}

address {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  height: inherit;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
